<?xml version="1.0"?>

 <robot name="mars" xmlns:xacro="http://ros.org/wiki/xacro">

<xacro:include filename="$(find my_mars_description)/urdf/materials.xacro" />

<xacro:include filename="$(find my_mars_description)/urdf/mars_modul_macro.urdf.xacro" />


<xacro:include filename="$(find my_mars_description)/urdf/mars.gazebo.xacro" />
<xacro:include filename="$(find my_mars_description)/urdf/mars.transmission.xacro" />
<xacro:include filename="$(find my_mars_description)/urdf/mars_wheel_macro.urdf.xacro" />



  <xacro:modul modul_num="1"/>
<!--
    <link name="world"/>

   World fixed joint
  <joint name="world_fixed0" type="fixed">
    <origin xyz="0 0 0.2" rpy="0 0 0"/>
    <parent link="world"/>
    <child link="back_connector_1"/>
  </joint>-->


</robot>
